/* Global Styles */
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --accent-color: #000;
    --clock-color: #fff;
    --clock-shadow-color: #000;
    --category-color: #fff;
    --card-link-bg-color: #fff;
    --card-link-create-color: #fff;
    --card-link-text-color: #000;
    --rss-bg-color: #fff;
    --rss-title-color: #000;
    --rss-date-color: #000;

    background-color: #000;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    display: none;

    font-family: 'Monda', sans-serif;
}

/* Wrapper */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper > div {
    padding-inline: 10vw;
}
.wrapper #left {
    width: 50vw;
}
.wrapper #right {
    flex: 1;
}

/* Time Display */
.time {
    font-size: 8vw;
    color: var(--clock-color);
    text-shadow: var(--clock-shadow-color) 0 0 10px;
}

/* RSS Feed */
.rss-wrapper {
    opacity: 0;
    transform: translateX(-40px);

    animation: rss-appear 0.5s ease forwards;
}
@keyframes rss-appear {
    from {
        opacity: 0;
        transform: translateX(-40px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.rss-wrapper #rss-img-wrapper {
    height: 10vh;
    width: 100%;

    justify-content: flex-end;

    margin-bottom: 20px;
    display: none;
}
.rss {
    max-height: 70vh;
    overflow-y: scroll;
}
.rss::-webkit-scrollbar {
    width: 4px;
}
.rss::-webkit-scrollbar-track {
    background: #555;
}
.rss::-webkit-scrollbar-thumb {
    background: var(--rss-bg-color);
}
#rss-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding-inline: 20px;
}
/* RSS Card */
.rss-card {
    background: var(--rss-bg-color);
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.rss-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.rss-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}
.rss-card h3 a {
    text-decoration: none;
    color: var(--rss-title-color);
}
.rss-card h3 a:hover {
    text-decoration: underline;
}
.rss-card p {
    font-size: 14px;
    color: var(--rss-date-color);
    margin-bottom: 10px;
}
.rss-card a {
    display: block;
}
.rss-card * {
    max-width: 100%;
    white-space: break-spaces;
    word-break: break-word;
}
.rss-date {
    font-size: 12px;
    color: var(--rss-date-color);
    display: block;
}

/* Categories */
.categories {
    display: flex;
    flex-direction: column;
}

.category-item {
    display: flex;
    flex-direction: column;
}

.categories .category-title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--category-color);
    margin: 2em 0 1em;

    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}
.categories .category-delete {
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--category-color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.categories .category-title:hover .category-delete {
    display: flex;
}

.categories .category {
    display: flex;
    gap: 1em;
}

.categories .category .link-card a {
    height: 80px;
    width: 80px;
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    background: var(--card-link-bg-color);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.categories .category .link-card a:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.categories .category .link-card a img {
    max-height: 70%;
    max-width: 70%;
}
.categories .category .link-card a p {
    color: var(--card-link-text-color);
}

/* Link Card */
.categories .category .link-card .delete-item {
    --size: 20px;
    position: absolute;
    top: calc(-1 * (var(--size) / 2));
    right: calc(-1 * (var(--size) / 2));
    height: var(--size);
    width: var(--size);
    background: var(--card-link-bg-color);
    color: var(--card-link-text-color);
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.categories .category .link-card:hover .delete-item {
    display: flex;
}

.categories .category .link-card--add {
    font-size: 4em;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.01);
    transition: box-shadow 0.3s ease, transform 0.3s ease, background 0.3s ease;
}
.categories .category .link-card--add a p {
    color: var(--category-color);
}
.categories .category .link-card--add:hover {
    transform: translateY(-5px);
    background: var(--card-link-create-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.categories .category .link-card--add a {
    background: rgba(255, 255, 255, 0.05);
    transition: background 0.3s ease;
}
.categories .category .link-card--add * {
    pointer-events: none;
}

/* Create Category */
#create-category {
    height: 30px;
    width: 160px;
    padding: 10px;
    gap: 5px;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.05);
    color: var(--category-color);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease, background 0.3s ease;
}
#create-category:hover {
    transform: translateY(-5px);
    background: var(--card-link-create-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Dialogs */
dialog {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 350px;
    padding: 20px;

    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background: #fff;

    visibility: hidden;
    transform: translate(-50%, -45%);
    opacity: 0;

    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
dialog[open] {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%);
}
dialog form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
dialog p {
    font-size: 1.4em;
    font-weight: bold;
}
dialog label {
    font-weight: bold;
    margin-bottom: 5px;
}
dialog input {
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}
dialog button {
    padding: 10px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
}
dialog button[type="submit"] {
    margin-top: 20px;
    background: #007bff;
    color: #fff;
}
dialog button[type="submit"]:hover {
    background: #0056b3;
}
dialog .close-dialog {
    position: absolute;
    top: 0;
    right: 0;
    color: #000;
    padding: 1em;
    background: #fff;
}