@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Base & Reset ===== */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	width: 550px;
	padding: 10px 20px;
}
