@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(.contextual):not([style^="position: fixed"] > *) {
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

main {
	--font-family: "Roboto", sans-serif;
	font-family: var(--font-family), "Roboto", sans-serif;
}

/* Custom RSS Scrollbar */
::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 1);
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 1);
}

#rss {
	--rss-bg-color: rgba(255, 255, 255, 1);
	--rss-title-color: rgba(0, 0, 0, 1);
}
#rss::-webkit-scrollbar {
	width: 4px;
}
#rss::-webkit-scrollbar-track {
	background: var(--rss-bg-color, rgba(255, 255, 255, 1));
}
#rss::-webkit-scrollbar-thumb {
	background: var(--rss-title-color, rgba(0, 0, 0, 1));
}

#links {
	--scrollbar-bg-color: rgba(0, 0, 0, 1);
	--scrollbar-title-color: rgba(255, 255, 255, 1);
}
#links::-webkit-scrollbar {
	width: 4px;
}
#links::-webkit-scrollbar-track {
	background: var(--scrollbar-bg-color, rgba(0, 0, 0, 1));
}
#links::-webkit-scrollbar-thumb {
	background: var(--scrollbar-title-color, rgba(255, 255, 255, 1));
}

/* Background Hover Reactive */
.background-hover-reactive {
	--color-placeholder: rgba(200, 200, 200, 1);
	--bg-color: rgba(0, 0, 0, 0.5);
	--bg-color-hover: rgba(0, 0, 0, 0.6);

	background-color: var(--bg-color);
}
.background-hover-reactive::placeholder {
	color: var(--color-placeholder);
}
.background-hover-reactive:hover {
	background-color: var(--bg-color-hover);
}
